.float-right{
    float: right;
}
.ul-left{
    left: 120px;
}
.nav-div{
    padding-left: 50px;
    padding-right: 30px;
}

.pl-1{
    padding-left: 10px;
}

.pl-2{
    padding-left: 20px;
}

.pl-3{
    padding-left: 30px;
}

.pl-4{
    padding-left: 40px;
}

.pl-5{
    padding-left: 50px;
}

.pr-1{
    padding-right: 10px;
}

.pr-2{
    padding-right: 20px;
}

.pr-3{
    padding-right: 30px;
}

.pr-4{
    padding-right: 40px;
}

.pr-5{
    padding-right: 50px;
}

.fly-header {
    margin-top: 0;
}
.fixed{ position: fixed;
    top:0;}
.layui-layout-admin .fsTopMenu {
    left: 0px;
}
.li-right{
    margin-left: 200px;
}